
<h1> <%= @book.title.upcase %></h1>

<table class="comments">
  <tr>
    <th>Author</th>
    <th>Comment</th>
  </tr>
  <tr>
    <% @book.comments.each do |comment| %>
      <td><%= comment.author.upcase %> says:</td> 
      <td>"<%= comment.text %>"</td>
    <% end %>
  </tr>
</table>

</p>

<h4>There are <%= @book.comments.count %> comments on this book.</h4>

</p>

<h3>Post your Comment</h3>
<% form_tag do |form| %>
  <p><%= form.label :author %></p>
  <p><%= form.text_field :author %></p>
  <p><%= form.label :text %></p>
  <p><%= form.text_area :text %></p>

  <%= form.submit 'Save' %>
<% end %>







