<h1> <%= @book.title.upcase %></h1>
<p>
<h2> <%= @book.note.upcase %> 
<p>

<table class="comments">
  <tr>
    <th>Name</th>
    <th>Comment</th>
  </tr>

    <% @book.comments.each do |comment| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= comment.author.upcase %> says:</td> 
        <td>"<%= comment.text %>"</td>
      </tr>
    <% end %>

</table>

<p>

<h4>There are <%= @book.comments.count %> comments on this book.</h4>

<p>

<div id="post_comment">
  <h3>Post your Comment</h3>
  <%= form_for([@book, Comment.new]) do |form| %>
    <p><%= form.label :author, "Name" %></p>
    <p><%= form.text_field :author %></p>
    <p><%= form.label :text, "Text" %></p>
    <p><%= form.text_area :text %></p>
    <%= form.submit 'Save' %>
  <% end %>
</div>

